
@{
    ViewBag.Title = "ChangePassword";
}


@section styles{
    <style>
        section {
            flex-direction: column;
        }

        .user-info {
            border: solid 0.5px #bebebe;
            padding: 1.5rem;
            border-radius: 30px;
        }

            .user-info > button {
                float: right;
                margin-top: 25px;
            }

        .fs-14 {
            font-size: 14px;
        }

        .info .show-eyes {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 14px;
        }

        .info span.hide-eyes::before {
            content: "f070";
        }
    </style>
}

<section class="account-page">
    <div class="section-header">Tài khoản</div>

    <div class="user-info">
        <div class="info">
            <form>
                <div class="row">
                    <div class="mb-3">
                        <label class="font-bold fs-14">Mật khẩu cũ</label>
                        <div class="position-relative">
                            <input type="password" class="form-control fs-14" id="old-password" placeholder="Nhập mật khẩu cũ" />
                            <span class="show-eyes" id="old" onclick="showPassword(this);"><i class="fas fa-eye"></i></span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="font-bold fs-14">Mật khẩu mới</label>
                        <div class="position-relative">
                            <input type="password" class="form-control fs-14" id="new-password" placeholder="Nhập mật khẩu mới" />
                            <span class="show-eyes" id="new" onclick="showPassword(this);"><i class="fas fa-eye"></i></span>
                        </div>

                    </div>
                    <div class="mb-3">
                        <label class="font-bold fs-14">Xác nhận mật khẩu</label>
                        <div class="position-relative">
                            <input type="password" class="form-control fs-14" id="confirm-password" placeholder="Xác nhận mật khẩu" />
                            <span class="show-eyes" id="confirm" onclick="showPassword(this);"><i class="fas fa-eye"></i></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <button class="d-block btn btn-primary">Cập nhật</button>
    </div>
</section>

@section scripts{
    <script>
        var showPassword = function (el) {
            var id = $(el).attr('id');
            if (id === 'old') {
                $('#old').html('');
                if ($('#old-password').attr('type') === 'password') {
                    $('#old-password').prop('type', 'text');
                    $('#old').append('<i class="fas fa-eye-slash"></i>');
                } else {
                    $('#old-password').prop('type', 'password');
                    $('#old').append('<i class="fas fa-eye"></i>');
                }
            } else if (id === 'new') {
                $('#new').html('');
                if ($('#new-password').attr('type') === 'password') {
                    $('#new-password').prop('type', 'text');
                    $('#new').append('<i class="fas fa-eye-slash"></i>');
                } else {
                    $('#new-password').prop('type', 'password');
                    $('#new').append('<i class="fas fa-eye"></i>');
                }
            } else if (id === 'confirm') {
                $('#confirm').html('');
                if ($('#confirm-password').attr('type') === 'password') {
                    $('#confirm-password').prop('type', 'text');
                    $('#confirm').append('<i class="fas fa-eye-slash"></i>');
                } else {
                    $('#confirm-password').prop('type', 'password');
                    $('#confirm').append('<i class="fas fa-eye"></i>');
                }
            }
        }
    </script>
    }
