
@{
    ViewBag.Title = "Thông tin người dùng";
    ViewBag.Menu = "user-info";
}

@section styles{
    <style>
        section{
            flex-direction:column;
        }

    </style>
}

<section class="account-page">
    <div class="section-header">Tài khoản</div>

    <div class="user-info">
        <div class="user-avatar">
            <div class="user-avt preview" onclick="ChooseThumbnail(this);"></div>
            <input type="file" style="display:none;" onchange="ChooseThumbnail_OnChange(this);" required />
            <input type="hidden" id="Thumbnail" />
        </div>
        <div class="info-detail">
            <div class="form-group">
                <label for="Account">Tài khoản</label>
                <input type="text" style="font-size:14px;" class="form-control" id="Account" placeholder="Tài khoản">
            </div>

            <div class="form-group">
                <label for="Email">Email</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="Email" placeholder="Email">
                    <button class="input-group-text" style=" font-size: 10px; padding: 2px 10px;" id="Code">Nhận mã <br> xác thực</button>
                </div>
            </div>
            <div class="form-group">
                <input type="text" style="font-size:14px;width:50%;" class="form-control" id="Account" placeholder="Mã xác thực">
            </div>
            <div class="form-group">
                <label for="Phone">Điện thoại</label>
                <input type="text" style="font-size:14px;" class="form-control" id="Phone" placeholder="Số điện thoại">
            </div>

            <div class="confirm-button" style="text-align:right;margin-top:20px;">
                <button class="btn btn-primary btn-sm">Cập nhật</button> 
            </div>
        </div>
    </div>

    <div class="user-password">
        <div class="form-group">
            <label for="oldPassword">Mật khẩu cũ</label>
            <input type="password" style="font-size:14px;" class="form-control" id="oldPassword" placeholder="Nhập mật khẩu cũ">
        </div>
        <div class="form-group">
            <label for="newPassword">Mật khẩu mới</label>
            <input type="password" style="font-size:14px;" class="form-control" id="newPassword" placeholder="Nhập mật khẩu mới">
        </div>
        <div class="form-group">
            <label for="confirmPassword">Xác nhận mật khẩu</label>
            <input type="password" style="font-size:14px;" class="form-control" id="confirmPassword" placeholder="Nhập lại mật khẩu">
            <span id='message'></span>
        </div>
        <div class="confirm-button" style="text-align:right;margin-top:20px;">
            <button class="btn btn-primary btn-sm">Cập nhật</button>
        </div>
    </div>
</section>

@section scripts{
    <script>
        var ChooseThumbnail = function (el) { $(el).closest('.user-avatar').find('input[type=file]').click(); }
        var ChooseThumbnail_OnChange = function (el) {
            let reader = new FileReader();
            reader.onloadend = function (e) {
                $(el).closest('.user-avatar').find('input[type=hidden]').val(e.currentTarget.result.substring(e.currentTarget.result.indexOf(',') + 1, e.currentTarget.result.length));
                $(el).closest('.user-avatar').find('.preview').css('background-image', `url(${e.currentTarget.result})`);
            }
            reader.readAsDataURL(el.files[0])
        }

        $('#newPassword, #confirmPassword').on('keyup', function () {
            if ($('#newPassword').val() == $('#confirmPassword').val()) {
                $('#message').html('Xác nhận mật khẩu đã khớp').css('color', 'green');
            } else
                $('#message').html('Xác nhận mật khẩu chưa khớp').css('color', 'red');
        });

    </script>
}