@using GiveAndReceive.Models;
@{
    SystemAbout systemAbout = (SystemAbout)ViewBag.SystemAbout;
    ViewBag.Title = "Giới thiệu";
}

<h2>Giới thiệu về King Smart</h2>

<p>@Html.Raw(systemAbout.HtmlContent)</p>



