
@{
    Layout = "/Views/Shared/_LayoutAuth.cshtml";
    ViewBag.Title = "Register";
}

<h1 class="auth-title">Sign Up</h1>
<p class="auth-subtitle mb-5">Nhập thông tin của bạn để đăng ký tài khoản vào hệ thống.</p>

<form action="/">
    <div class="form-group position-relative has-icon-left mb-4">
        <input type="text" class="form-control form-control-xl" placeholder="Email">
        <div class="form-control-icon">
            <i class="fa-solid fa-at"></i>
        </div>
    </div>
    <div class="form-group position-relative has-icon-left mb-4">
        <input type="text" class="form-control form-control-xl" placeholder="Tài khoản">
        <div class="form-control-icon">
            <i class="fa-regular fa-user"></i>
        </div>
    </div>
    <div class="form-group position-relative has-icon-left mb-4">
        <input type="password" class="form-control form-control-xl" placeholder="Mật khẩu">
        <div class="form-control-icon">
            <i class="fa-solid fa-lock"></i>
        </div>
    </div>
    <div class="form-group position-relative has-icon-left mb-4">
        <input type="password" class="form-control form-control-xl" placeholder="Xác nhận mật khẩu">
        <div class="form-control-icon">
            <i class="fa-solid fa-lock"></i>
        </div>
    </div>
    <button class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Đăng ký</button>
</form>
<div class="text-center mt-5 text-lg fs-4">
    <p class='text-gray-600'>
        Bạn đã có tài khoản? <a href="/dang-nhap" class="font-bold">Đăng nhập</a>.
    </p>
</div>

