
@{
    ViewBag.Title = "Quản lý đồng chia";
}

@section styles{
    <style>
        .content {
            background-color: white;
            padding: 20px;
        }

        .list-data {
            margin-top: 20px;
        }

        .list-data td {
            padding-bottom: 10px;
        }
        #list-share-fund-month td {
            padding-right: 10px;
        }
        .product-page-list a {
            cursor: pointer;
        }

        .active-custom {
            background-color: #3f87f5;
            color: white !important;
        }
    </style>
}

    <div class="content">
        <div class="list-data">
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th>Tổng tiền </th>
                        <th>Tháng</th>
                        <th>Năm</th>
                        <th style="width:150px;"></th>
                    </tr>
                </thead>
                <tbody id="list-share-fund-month">
                </tbody>
            </table>
        </div>

    </div>

    <div class="product-page-list">

    </div>

    @section scripts{
        <script>
            let _currentPage = 1;
            const getListShareFundMonth = async function (page = 1) {
                _currentPage = page;
                $('#list-share-fund-month').html('');

                let rq = await fetch(Enum.ApiUrl + '/api/AdminShareFundMonth/GetListShareFundMonth?page=' + page, {
                    method: 'get',
                    headers: Enum.OptionAdminHeaderDefault
                });
                let rs = await rq.json();

                if (AdminCheckErrorResponse(rs) === false) return;

                if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.SUCCESS) {
                    $('.product-page-list').html('');
                    for (let page = 1; page <= rs.data.TotalPage; page++) {
                        $('.product-page-list').append(`<a onclick="getListShareFundMonth(${page});" data-page="${page}" class="product-page ${_currentPage === page ? 'active-custom' : ''}" id="page-num">${page}</a>`);
                    }

                    console.log(rs.data);
                    let html = '';
                    for (let index = 0; index < rs.data.List.length; index++) {
                        var x = rs.data.List[index];
                        html += '<tr>';
                        html += '<td> <div class="user-info"><div class="name">' + NumberFormat(x.Balance) + '</div></div> </td>';
                        html += '<td>' + GetObjectProperty(x, 'Month') + '</td>';
                        html += '<td>' + GetObjectProperty(x, 'Year') + '</td>';
                        html += '<td>';
                        html += '<button class="btn btn-primary" data-id="' + x.ShareFundMonthId + '" onclick="ShareFundMonthDetail(this);">Chi tiết</button>';
                        html += '</td></tr>';
                    }
                    $('#list-share-fund-month').append(html);
                }
            }

            const ShareFundMonthDetail = function (el) {
                var id = $(el).data('id');
                window.location.href = ('/admin/ManageShareFundMonth/ShareFundUserMonth?id=' + id);
                if (rs.status === 'error') if (rs.message !== '' && rs.message !== null) alert(rs.message);
                if (rs.status === 'success') {
                    if (rs.message !== '' && rs.message !== null) alert(rs.message);
                }
            }

            const initPage = function () {
                getListShareFundMonth();
            }

            initPage();
        </script>
    }