section {
    display: flex;
}

.mobile {
    display: flex !important;
}

.desktop {
    display: none !important;
}

ul {
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

a {
    text-decoration: none !important;
    cursor: pointer !important;
}

.section-header {
    font-size: 20px;
    padding: 0 0 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

#main #main-content {
    padding-top: 0;
}

.approve {
    padding: 10px;
    font-size: 14px;
    margin: 20px;
}
/*HomePage*/
.home-page .system-general-parameter {
    display: flex;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

    .home-page .system-general-parameter .general-parameter-box {
        display: flex;
        padding: 10px;
        background-color: white;
        border: 0.5px solid #eee;
        width: 48%;
        border-radius: 10px;
    }

        .home-page .system-general-parameter .general-parameter-box .parameter-icon {
            display: none;
        }

        .home-page .system-general-parameter .general-parameter-box .parameter-info {
            font-size: 14px;
            text-align: center;
            width: 100%;
        }

            .home-page .system-general-parameter .general-parameter-box .parameter-info .parameter-description {
                font-weight: bold;
                display: flex;
                height: 42px;
                justify-content: center;
                align-items: center;
            }

.home-page .current-mission {
    margin-top: 20px;
    padding: 10px 10px 20px;
    border-radius: 10px;
    border: 0.5px solid #eee;
    background-color: white;
}

    .home-page .current-mission .mission-label {
        font-weight: bold;
        padding: 10px 0 20px;
    }

    .home-page .current-mission .mission-detail {
        display: flex;
        gap: 5px;
        align-items: center;
        padding: 10px 2px;
    }

        .home-page .current-mission .mission-detail .name {
            flex: 2;
            font-size: 14px;
        }

        .home-page .current-mission .mission-detail .status {
            width: 80px;
            display: flex;
            justify-content: center;
        }

            .home-page .current-mission .mission-detail .status span {
                font-size: 10px;
                border-radius: 20px;
            }

        .home-page .current-mission .mission-detail .button {
            flex: 1;
            text-align: right;
        }

            .home-page .current-mission .mission-detail .button button {
                font-size: 10px;
            }

.home-page .recent-transactions {
    margin-top: 20px;
    padding: 10px 10px 10px;
    border-radius: 10px;
    border: 0.5px solid #eee;
    background-color: white;
}

    .home-page .recent-transactions .transactions-label {
        font-weight: bold;
        padding: 10px 0 20px;
    }

    .home-page .recent-transactions .transactions-detail {
        display: flex;
        gap: 5px;
        align-items: center;
        padding: 10px 2px;
    }

        .home-page .recent-transactions .transactions-detail .content {
            flex: 3;
            display: flex;
            flex-direction: column;
        }

            .home-page .recent-transactions .transactions-detail .content .content-detail {
                font-size: 14px;
            }

            .home-page .recent-transactions .transactions-detail .content .content-time {
                font-size: 12px;
                font-style: italic;
            }

        .home-page .recent-transactions .transactions-detail .money {
            flex: 1;
            font-size: 14px;
            color: black;
        }

.home-page .more {
    font-size: 14px;
    padding-top: 30px;
    text-align: center;
}
/*End HomePage*/

/*ConnectPage*/

.connect-page .connect-code {
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

    .connect-page .connect-code #connectCode {
        font-size: 14px;
    }

    .connect-page .connect-code .connect-btn {
        display: flex;
        justify-content: end;
        margin-top: 10px;
    }

.connect-page .list-member {
    background-color: white;
    padding: 10px 10px;
    border-radius: 10px;
}

    .connect-page .list-member .member-label {
        font-weight: bold;
        padding: 10px 0 20px;
    }

    .connect-page .list-member .member-detail {
        display: flex;
        gap: 10px;
        padding: 5px 10px;
    }

        .connect-page .list-member .member-detail .member-avatar {
            width: 30px;
            height: 30px;
        }

            .connect-page .list-member .member-detail .member-avatar .avt-img {
                height: 0;
                width: 100%;
                padding-bottom: 100%;
                border-radius: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border: .5px solid #d7d7d7;
            }

        .connect-page .list-member .member-detail .member-name {
            flex: 1;
            display: flex;
            align-items: center;
            font-size: 14px;
        }

/*End connectPage*/

/*AccountPage*/

.account-page .user-info {
    background-color: white;
    padding: 20px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

    .account-page .user-info .user-avatar {
        display: flex;
        margin: auto;
        width: 120px;
    }

        .account-page .user-info .user-avatar .user-avt {
            height: 0;
            width: 100%;
            padding-bottom: 100%;
            border-radius: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border: .5px solid #d7d7d7;
        }

    .account-page .user-info .info-detail {
        margin-top: 20px;
    }

        .account-page .user-info .info-detail input {
            font-size: 14px;
        }

        .account-page .user-info .info-detail #Code {
            font-size: 10px;
            padding: 2px 10px;
        }

.account-page .user-password {
    background-color: white;
    padding: 20px 20px;
    border-radius: 10px;
    margin-top: 20px;
}
/*EndAccountPage*/

/*NotiPage*/
.notification-page .list-noti {
    padding: 20px 10px;
    background-color: white;
    border-radius: 10px;
}

    .notification-page .list-noti .noti-detail {
        display: flex;
        padding: 10px 2px 5px;
        border-bottom: solid 0.5px #d4d3d3;
        cursor: pointer;
    }

        .notification-page .list-noti .noti-detail .unread {
            width: 25px;
            align-items: center;
            display: flex;
        }

        .notification-page .list-noti .noti-detail .content {
            flex: 1;
        }

            .notification-page .list-noti .noti-detail .content .message {
                padding: 5px 0;
            }

            .notification-page .list-noti .noti-detail .content .time {
                font-size: 12px;
                text-align: right;
                color: #9e9e9e;
            }

.see-more-notification {
    text-align: center;
    padding: 30px;
}
/*EndNotiPage*/


/*WalletPage*/
.wallet-page .card .nav-link {
    font-size: 14px;
}

.wallet-page .card .balance-header {
    padding: 20px 5px 10px;
    border-bottom: solid 2px #d4d3d3;
}

    .wallet-page .card .balance-header .wallet-balance {
        text-align: right;
        padding: 10px;
        background-color: aliceblue;
        color: black;
    }

    .wallet-page .card .balance-header .withdraw-button {
        margin-top: 5px;
    }

.wallet-page .card .withdraw {
    padding: 10px 5px 10px;
    border-bottom: solid 2px #d4d3d3;
}

    .wallet-page .card .withdraw .withdraw-label {
        font-weight: bold;
        padding: 10px 0;
    }

    .wallet-page .card .withdraw .withdraw-detail {
        display: flex;
        gap: 20px;
        justify-content: space-between;
    }

        .wallet-page .card .withdraw .withdraw-detail .detail-left {
            font-size: 14px;
        }

            .wallet-page .card .withdraw .withdraw-detail .detail-left .withdraw-time {
                font-size: 12px;
                color: #9e9e9e;
            }

        .wallet-page .card .withdraw .withdraw-detail .detail-right {
            display: flex;
            align-items: center;
        }

.wallet-page .card .history {
    padding: 10px 5px 10px;
}

    .wallet-page .card .history .history-detail {
        padding: 10px 0;
        border-bottom: solid 0.5px #d4d3d3;
    }

        .wallet-page .card .history .history-detail .content {
            font-size: 14px;
        }

        .wallet-page .card .history .history-detail .time {
            font-size: 12px;
            color: #9e9e9e;
            text-align: right;
        }
/*EndWalletPage*/

/*VerificationPage*/
.verification-page .verification-info {
    padding: 20px 20px;
    background-color: white;
    border-radius: 10px;
}

.verification-page .form-group .preview {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 110px;
    border-radius: 10px;
    border: .5px solid #d7d7d7;
    cursor: pointer;
}

.verification-page .verification-info input {
    font-size:14px;
}
.verification-page .verification-info label {
    font-size: 14px;
}
/*EndVerificationPage*/

/*BankPage*/
.bank-page #tab-bank-account {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    min-height: 210px;
    width: 100%;
}

    .bank-page #tab-bank-account .create-bank-btn {
        padding: 5px 10px;
        border: solid #9c9c9c 0.5px;
        border-radius: 10px;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
    }

    .bank-page #tab-bank-account .list-bank-account {
        margin-top: 30px;
    }

.bank-page .list-bank-account th {
    font-size: 14px;
}

.bank-page .list-bank-account td {
    font-size: 14px;
}

.bank-page .modal-body input, .bank-page .modal-body label {
    font-size: 14px !important;
}

.bank-page .list-bank-account td a {
    padding-right: 5px;
    cursor: pointer;
}

.bank-page .list-bank-account .isDefault {
    padding: 3px;
    background-color: #31c6ff;
    color: white;
    width: fit-content;
    border-radius: 5px;
    font-size: 10px;
}

.bank-page .preview {
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: .5px solid #d7d7d7;
    cursor: pointer;
}


/*EndBankPage*/
