
@{
    ViewBag.Title = "Quản lý sản phẩm";
    ViewBag.Menu = "product";
    ViewBag.SubMenu = "";
}

@section styles{
    <style>
        .content {
            background-color: white;
            padding: 20px;
        }

        .select-asset .addProButton {
            width: 100px;
            padding: 5px 5px;
            background-color: #435ebe;
            color: white !important;
            border-radius: 5px;
            cursor: pointer;
        }

        .list-data {
            margin-top: 20px;
        }

            .list-data .description {
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 3;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                line-height: 45px;
            }

            .list-data td {
                padding-bottom: 10px;
            }

                .list-data td a {
                    padding-right: 10px;
                    cursor: pointer;
                }

            .list-data .thumnail {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 80px;
                height: 80px;
                border-radius: 10px;
            }



        #list-product td {
            padding-right: 10px;
        }

        #list-product .name {
            padding-right: 30px;
        }

        .select-asset .searchData {
            width: 70%;
            position: relative;
            margin-top: 10px;
        }

            .select-asset .searchData .search-input {
                width: 100%;
                border-radius: 10px;
                padding: 5px;
                border: solid #ccc 0.5px;
            }

            .select-asset .searchData .searchIcon {
                position: absolute;
                right: 0;
                top: 25%;
                padding-right: 10px;
            }
    </style>
}
<div class="content">
    <div class="select-asset">
        <a class="btn btn-primary" onclick="AddProduct();">Thêm sản phẩm</a>
        <div class="searchData">
            <input class="search-input" placeholder="Nhập từ khóa tìm kiếm" onkeypress="BeginSearch(event);" />
            <a onclick="GetListProduct();" class="searchIcon"><i style="font-size: 20px;" class="fa fa-search" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="list-data">
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th id="Avatar" style="width:125px;">Ảnh sản phẩm </th>
                    <th id="Name">Tên sản phẩm</th>
                    <th id="Price" style="width:15%;">Giá (VNĐ)</th>
                    <th id="Preferential" style="width:15%;">Chiết khẩu cho hệ thống</th>
                    <th id="Tablebutton" style=" width: 125px;">Hoạt động</th>
                </tr>
            </thead>
            <tbody id="list-product">
            </tbody>
        </table>
    </div>

</div>

<div class="product-page-list">

</div>

@section scripts{
    <script>
        let _currentPage = 1;
        async function GetListProduct(page = 1) {
            _currentPage = page;
            var keyword = $('.select-asset').find('input').val();
            var rp = await fetch('/api/AdminProduct/GetListProduct?PageIndex=' + page + '&Keyword=' + keyword, {
                method: 'get',
                headers: Enum.OptionAdminHeaderDefault
            });
            var rs = await rp.json();
            if (AdminCheckErrorResponse(rs) === false) return;
            $('.product-page-list').html('');
            for (let page = 1; page <= rs.data.TotalPage; page++) {
                $('.product-page-list').append(`<a onclick="GetListProduct(${page});" data-page="${page}" class="product-page ${_currentPage === page ? 'active' : ''}" id="page-num">${page}</a>`);
            }

            $('#list-product').html('');
            for (let index = 0; index < rs.data.ListProduct.length; index++) {
                var x = rs.data.ListProduct[index];
                let html = '<tr>';
                html += '<td><div class="thumnail" style="background-image:url(' + x.Thumbnail + ')"></div></td>';
                html += '<td class="name">' + x.Name + '</td> ';
                html += '<td>' + NumberFormat(x.Price) + '</td>';
                html += '<td style="text-align:center">' + x.DiscountForSystem + '%</td>'

                html += '<td>';
                html += '<a data-id="' + x.ProductId + '" onclick="Update(this);"><button class="btn btn-primary btn-xs"><i class="fa-solid fa-pen-to-square"></i></button></a>';
                html += '<a data-id="' + x.ProductId + '" onclick="Delete(this);"><button class="btn btn-danger btn-xs"><i class="fa fa-trash" aria-hidden="true"></i></button></a> </td> </tr>';
                $('#list-product').append(html);


            }
        }
        const AddProduct = async function () {
            window.location.href = ('/admin/Product/AddProduct/');
        }
        const Update = async function (el) {
            let id = $(el).data('id');
            window.location.href = ('/admin/Product/UpdateProduct?id=' + id);
            if (rs.status === 'error') if (rs.message !== '' && rs.message !== null) alert(rs.message);
            if (rs.status === 'success') {
                if (rs.message !== '' && rs.message !== null) alert(rs.message);
            }
        }
        const Delete = async function (el) {
            if (confirm('Bạn có chắc muốn xóa sản phẩm này?')) {
                let id = $(el).data('id');
                let rp = await fetch('/api/ManageProduct/DeleteProduct?productId=' + id, {
                    method: 'get',
                    headers: Enum.OptionAdminHeaderDefault
                });
                let rs = await rp.json();

                if (rs.status === 'error') if (rs.message !== '' && rs.message !== null) alert(rs.message);
                if (rs.status === 'success') {
                    if (rs.message !== '' && rs.message !== null) alert(rs.message);
                    alert('Xoá sản phẩm này thành công');
                    window.location.reload();
                }
            }
        }
        const BeginSearch = async function (event) {

            if (event.keyCode == 13) {
                GetListProduct();
            }
        }

        GetListProduct();
    </script>
}


