
@{
    ViewBag.Title = "Cập nhật thông tin sản phẩm";
    ViewBag.Menu = "product";
}

@section styles{
    <style>
        .create-product {
            max-width: 70%;
        }

            .create-product .title {
                text-align: center;
                text-transform: uppercase;
                font-size: 30px;
            }

        .form-add {
            margin-left: 50px;
        }

            .form-add .price {
                margin-top: 10px;
            }

        .create-button {
            width: fit-content;
            padding: 5px 5px;
            color: white !important;
            border-radius: 5px;
            cursor: pointer;
        }


        .promo-status {
            margin-bottom: 10px;
        }

        .product-image {
            padding: 0 10px 10px 0;
        }

            .product-image > .image {
                width: 100px;
                height: 100px;
                border-radius: 10px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
            }

                .product-image > .image > .remove {
                    display: flex;
                    width: 20px;
                    height: 20px;
                    align-items: center;
                    justify-content: center;
                    font-size: 20px;
                    color: #f15050;
                    top: -5px;
                    right: -5px;
                    position: absolute;
                }
    </style>
}



<div class="body" style="display: flex; flex-wrap: wrap;">
    <input id="ProductId" value="@ViewBag.Id" type="hidden" />
    <div style="flex: 1; display: flex; flex-direction: column; padding: 20px; min-width: 350px; ">
        <div class="form-group">
            <label class="font-weight-semibold" for="name">Ảnh sản phẩm</label>
            <div class="preview" style=" width: 100px; height: 100px; background-position: center; background-repeat: no-repeat; background-size: cover; border: .5px solid #d7d7d7; cursor: pointer; background-image: url('/Content/img/pick-image.png');" onclick="ChooseThumbnail(this);"></div>
            <input type="file" style="display:none;" onchange="ChooseThumbnail_OnChange(this);" required />
            <input type="hidden" id="Thumbnail" />
        </div>

        <div class="form-group" id="">
            <label class="font-weight-semibold" for="name">Tên sản phẩm</label>
            <input type="text" class="form-control" id="Name" placeholder="Nhập tên sản phẩm" required>
        </div>

        <div class="form-group price" id="">
            <label class="font-weight-semibold" for="name">Giá sản phẩm</label>
            <input type="text" class="form-control" id="Price" placeholder="Giá của sản phẩm" onkeyup="ValidateInputOnlyNumber(event, this);" required>
        </div>


       @* <div class="form-group price" id="">
            <label class="font-weight-semibold" for="DiscountForSystem">Chiết khấu cho hệ thống</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="DiscountForSystem" placeholder="Chiết khấu cho hệ thống" onkeyup="ValidateInputOnlyNumber(event, this);">
                <span class="input-group-text">%</span>
            </div>

        </div>*@


        @*<div class="form-group price" id="">
                <label class="font-weight-semibold" for="name">Điểm UTAO khi mua</label>
                <div style="display:flex;align-items:center;">
                    <input type="text" class="form-control" id="KNTReward" placeholder="Nhập số điểm UTAO thưởng" onkeyup="ValidateInputOnlyNumber(event, this);" required>
                    <span style="padding:0 10px;font-weight:bold;">UTAO</span>
                </div>
            </div>*@
        <button type="button" onclick="UpdateProduct();" style="margin-top:50px;" class="create-button btn btn-primary">Cập nhật sản phẩm</button>
    </div>
    <div style="flex: 2; display: flex; flex-direction: column; padding: 20px;">
        <div class="form-group product-property">
            <label class="font-weight-semibold">Mô tả</label>
            <textarea style="resize:none;" placeholder="Nhập mô tả cho sản phẩm" rows="30" class="form-control" aria-label="With textarea" id="Description"></textarea>
        </div>

    </div>

</div>

@section scripts{
    <script src="/Content/ckeditor/ckeditor.js"></script>
    <script>
        let _lsDeleteImage = [];
        let _lsImage = [];
        var editorDescription = CKEDITOR.replace('Description', {
            height: 600,
        });


        var AddMoreImage = function (el) { $(el).siblings('input[type=file]').click(); }
        var AddMoreImage_OnChange = function (e, el) {
            var files = e.currentTarget.files;
            console.log(files);
            for (let i = 0; i < files.length; i++) {
                let currFile = files[i];

                let reader = new FileReader();
                reader.onloadend = function (e1) {
                    const addImage = $(el).closest('.add-image');
                    $(`<div class="product-image">
                    <div class="image" style="background-image: url(${e1.currentTarget.result});"><a class="remove" data-id="" onclick="RemoveProductImage(this);"><i class="fa-solid fa-trash-can"></i></a></div>
                    <input type="hidden" value="${e1.currentTarget.result.substring(e1.currentTarget.result.indexOf(',') + 1, e1.currentTarget.result.length)}"/>
                    </div>`).insertAfter(addImage);

                    _lsImage.push(e1.currentTarget.result.substring(e1.currentTarget.result.indexOf(',') + 1, e1.currentTarget.result.length))
                }
                reader.readAsDataURL(currFile)
            }

        }
        var RemoveProductImage = function (el) {
            const id = $(el).data('id');
            if (id !== '') {
                _lsDeleteImage.push(id);
            }
            $(el).closest('.product-image').remove();
        }


        var ChooseThumbnail = function (el) { $(el).siblings('input[type=file]').click(); }
        var ChooseThumbnail_OnChange = function (el) {
            let reader = new FileReader();
            reader.onloadend = function (e) {
                $(el).siblings('input[type=hidden]').val(e.currentTarget.result.substring(e.currentTarget.result.indexOf(',') + 1, e.currentTarget.result.length));
                $(el).siblings('.preview').css('background-image', `url(${e.currentTarget.result})`);
            }
            reader.readAsDataURL(el.files[0])
        }

        const GetlistUnit = async function () {
            let rp = await fetch('/api/adminUnit/GetListAllUnit', {
                method: 'get',
                headers: Enum.OptionAdminHeaderDefault
            });
            let rs = await rp.json();

            $('#UnitId').html('<option value="" selected>Chọn đơn vị tính</option>');
            for (let index = 0; index < rs.data.length; index++) {
                var x = rs.data[index]
                $('#UnitId').append(`<option value="${x.UnitId}">${x.UnitName}</option>`);
            }
        }
        let GetProduct = async function () {

            const id = $('#ProductId').val();
            if (id === '' || id === null || typeof id === 'undefined') return;
            let rp = await fetch('/api/AdminProduct/GetProductByProductId?ProductId=' + id, {
                method: 'get',
                headers: Enum.OptionAdminHeaderDefault
            });
            let rs = await rp.json();
            if (AdminCheckErrorResponse(rs) === false) return;
            let item = rs.data;
            $('#Name').val(item.Name);
            $('.preview').css('background-image', `url(${item.Thumbnail})`)
            //$('#Description').val(item.Description);
            editorDescription.setData(item.Description)
            $('#Price').val(NumberFormat(item.Price));
            $('#QuantityProduct').val(NumberFormat(item.Quantity));
            @*$('#KNTReward').val(NumberFormat(item.KNTReward));*@

        }
        const UpdateProduct = async function () {
            if (confirm('Bạn có chắc muốn cập nhật sản phẩm này?') === false) return;
            let model = {
                Name: $('#Name').val(),
                Thumbnail: $('#Thumbnail').val(),
                Description: editorDescription.getData(),
                Price: $('#Price').val().replace(/,/g, ''),
                ProductId: $('#ProductId').val(),
            };
            if (GetObjectProperty(model, 'Name') === '') { alert('Tên sản phẩm không được để trống'); return; }
            if (GetObjectProperty(model, 'Price') === '') { alert('Giá sản phẩm không được để trống'); return; }

            let url = '/api/AdminProduct/UpdateProduct';
            if (GetObjectProperty(model, 'ProductId') === '') url = '/api/AdminProduct/InsertProduct';

            const rp = await fetch(url, {
                method: 'post',
                headers: Enum.OptionAdminHeaderDefault,
                body: JSON.stringify(model)
            });
            let rs = await rp.json();

            if (AdminCheckErrorResponse(rs) === false) return;

            if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.SUCCESS) {
                alert('Cập nhật sản phẩm thành công')
                window.location.href = '/Admin/Product/';
            }
        }

        const openCreateModal = function () {
            $('#modalUnit').css('display', 'flex');
        }

        const closeModal = function () {
            $('#modalUnit').css('display', 'none');
            $('#UnitName').val('');
        }

        const CreateUnitCategory = async function () {
            let model = {
                UnitName: $('#UnitName').val(),
            };
            if (model.Name !== '') {
                const rp = await fetch('/api/AdminUnit/InsertUnit', {
                    method: 'post',
                    headers: Enum.OptionAdminHeaderDefault,
                    body: JSON.stringify(model)
                });
                let rs = await rp.json();
                if (AdminCheckErrorResponse(rs) === false) return;
                if (rs.status === 'success') {
                    if (rs.message !== '' && rs.message !== null) alert(rs.message);
                    alert('Bạn đã thêm thành công!');
                    GetlistUnit();
                    closeModal();
                }
            }
        }

        const initPage = async function () {
            await GetProduct();
        }
        initPage();
    </script>
}

